livekit-agents~=1.0.0
livekit-plugins-openai~=1.0.0
livekit-plugins-silero
livekit-plugins-noise-cancellation
python-dotenv
livekit-api
flask[async]
flask
flask-cors
uvicorn
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
fastapi
uvicorn[standard]